body{
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

#banner{
    background-color: rgb(168, 168, 168);
    display: flex;
    justify-content: end;
    flex-direction: column

}

.alone{
    display: flex;
    justify-content: flex-end;
}

.something {
    text-decoration: #000;
    display: flex;
    justify-content: flex-end;

}

.picfor {
    width: 80%;
    height: auto;

}

.thatone{
    display: flex;
    flex-wrap: wrap;

}

header {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    margin: 0;

    a{
        text-decoration: dashed;
        color: #000;
    }
}

.links {
    display: grid;
    gap: 0.1cm;
}

.kategorier h3 {
    display: grid;
    border: 5px solid rgb(0, 0, 0);
}

.anmeldelser{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
    max-width: 150px;
    border: 5px solid rgb(0, 0, 0);
}

.bigpic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 800px;
}

.bigpic img{
    width: 100%;
    height: auto;
}

.bigpic .large{
    grid-column: span 2;
    grid-row: span 2;
}

.other img{
    width: 100%;
    height: auto;
}

.buy{
    width: 100%;
    display: grid;
}

.buywithspace{
    width: 100%;
    display: grid;
    padding: 5px;
    gap: 5px;
}

.line{
    display: grid;
}

footer{
    background-color: #c3c3c3;
    display: grid;
    gap: 0.1cm;
}